
<app-admin-header></app-admin-header>
<!-- <app-admin-sidenav></app-admin-sidenav> -->
<div class="header">
  <h1>User Management</h1>
  <div class="search-bar">
    <input type="text" placeholder="Search users..." (input)="searchUsers($event)">
    <div class="search-results" *ngIf="searchResults.length > 0">
      <ul>
        <li *ngFor="let result of searchResults">
          {{ result }}
        </li>
      </ul>
    </div>
  </div>
</div>
<input type="text" (input)="searchUsers($event)" placeholder="Search Users">
<ul>
  <li *ngFor="let result of searchResults">{{ result }}</li>
</ul>

<div>
  <h1>Customer and User Management</h1>
  <button mat-raised-button color="primary" (click)="addCustomer()">Add Customer</button>
  <button mat-raised-button color="primary" (click)="addUser()">Add User</button>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
<div class="card-container">
    <!-- Customers -->
    <mat-card *ngFor="let customer of customers">
      <mat-card-header>
        <mat-card-title>{{ customer.name }}</mat-card-title>
        <mat-card-subtitle>{{ customer.email }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <!-- Customer data here -->
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="warn" (click)="deleteCustomer(customer)">Delete</button>
        <button mat-button color="primary" (click)="editCustomer(customer)">Edit</button>
      </mat-card-actions>
      <!-- Add form for editing customer data -->
      <div *ngIf="customer.editing">
        <form [formGroup]='editUserForm'(submit)="confirmEditCustomer(customer)">
          <mat-form-field>
            <input matInput placeholder="Name" [(ngModel)]="customer.name" name="name" required  formControlName="name" >
            <mat-error *ngIf="editUserForm.get('name')?.hasError('required')">name is required</mat-error>
          </mat-form-field>


          <mat-form-field>
            <input matInput placeholder="Email" [(ngModel)]="customer.email" name="email" required  formControlName="email" >
            <mat-error *ngIf="editUserForm.get('email')?.hasError('required') "> email required</mat-error>
            <mat-error *ngIf="editUserForm.get('email')?.hasError('email') ">email format wrong</mat-error>
          </mat-form-field>
          <button mat-raised-button color="primary" type="submit">Confirm</button>
          <button mat-raised-button color="warn" (click)="cancelEditCustomer(customer)">Cancel</button>
        </form>
      </div>
    </mat-card>

    <!-- Users -->
    <mat-card *ngFor="let user of users">
      <mat-card-header>
        <mat-card-title>{{ user.name }}</mat-card-title>
        <mat-card-subtitle>{{ user.email }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <!-- User data here -->
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="warn" (click)="deleteUser(user)">Delete</button>
        <button mat-button color="primary" (click)="editUser(user)">Edit</button>
      </mat-card-actions>
      <!-- Add form for editing user data -->
      <div *ngIf="user.editing">
        <form  [formGroup]="editUserForm" (submit)="confirmEditUser(user)">
          <mat-form-field>
            <input matInput placeholder="Name" [(ngModel)]="user.name" name="name" formControlName="name" required>
         <mat-error *ngIf="editUserForm.get('name')?.hasError('required')">name is required</mat-error> </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Email" [(ngModel)]="user.email" name="email" required formControlName="email">
        <mat-error *ngIf="editUserForm.get('email')?.hasError('required') "> email required</mat-error>
        <mat-error *ngIf="editUserForm.get('email')?.hasError('email') ">email format wrong</mat-error>
          </mat-form-field>
          <button mat-raised-button color="primary" type="submit">Confirm</button>
          <button mat-raised-button color="warn" (click)="cancelEditUser(user)">Cancel</button>
        </form>
      </div>
        <!-- Add form for adding user data -->
      <!-- <div *ngIf="user.editing">
        <form [formGroup]="editUserForm" (submit)="confirmEditUser(user)">
          <mat-form-field>
            <input matInput placeholder="Name" [(ngModel)]="user.name" name="name" required formControlName="name">
         <mat-error *ngIf="addUserForm.get('name')?.hasError('required')"></mat-error> </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Email" [(ngModel)]="user.email" name="email" required  formControlName="email">
            <mat-error *ngIf="editUserForm.get('email')?.hasError('required') "></mat-error>
            <mat-error *ngIf="editUserForm.get('email')?.hasError('email') "></mat-error>
          </mat-form-field>
          <button mat-raised-button color="primary" type="submit">Confirm</button>
          <button mat-raised-button color="warn" (click)="cancelEditUser(user)">Cancel</button>
        </form>
      </div>-->
    </mat-card>

    <!-- Add User Form -->
    <mat-card *ngIf="showAddUserForm">
      <mat-card-header>
        <mat-card-title>Add User</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]='addUserForm' (submit)="confirmAddUser()">
          <mat-form-field>
            <input matInput placeholder="Name" [(ngModel)]="newUser.name" name="name" required formControlName="name" >
            <mat-error *ngIf="addUserForm.get('name')?.hasError('required') ">name is required </mat-error>

          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Email" [(ngModel)]="newUser.email" name="email" required formControlName="email" >
            <mat-error *ngIf="addUserForm.get('email')?.hasError('required') "> email is required</mat-error>
            <mat-error *ngIf="addUserForm.get('email')?.hasError('email') "> email format is wrong</mat-error>
          </mat-form-field>
          <button mat-raised-button color="primary" type="submit">Add User</button>
          <button mat-raised-button color="warn" (click)="cancelAddUser()">Cancel</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  </div>






<app-admin-footer> </app-admin-footer>


<!-- //   {

  //     "order_status": "pending",
  //     "customer_name": "John Doe",
  //     "customer_phone": "1234567890",
  //     "customer_email": "johndoe@example.com",
  //     "customer_address": "123 Main St",
  //     "total": 100,
  //     "order_items": [
  //         {
  //             "product_name": "Product A",
  //             "product_quantity": 2,
  //             "product_price": 25.00,
  //             "product_subtotal": 5.00
  //         }
  //     ]
  // }
    onSubmit(): void {
      console.log('Submit');
      console.log(this.orderItems);
      console.log(this.checkoutForm.value)
      // this.router.navigate(['/checkout'],);
    }

  }
  // [
  //   {
  //       "id": 2,
  //       "name": "Prof. Savanah Gusikowski",
  //       "description": "Excepturi non aut et vero sint. Voluptatibus aperiam aut delectus nobis deserunt doloremque dicta. Autem ea sequi eos ex quia et reprehenderit.",
  //       "price": "513.00",
  //       "stock": 70,
  //       "image": "https://via.placeholder.com/640x480.png/003366?text=dolorum",
  //       "category_id": 12,
  //       "status": "active",
  //       "created_at": "2023-09-13T16:49:13.000000Z",
  //       "updated_at": "2023-09-13T16:49:13.000000Z",
  //       "subtotal": 35910
  //   }
  // ]
  // {
  //   "firstName": "fdfsdfsd",
  //   "lastName": "jghjhgjhj",
  //   "email": "baada@gmail.com",
  //   "phone": "12434353465",
  //   "address": "dghfgfdhdf",
  //   "city": "",
  //   "state": "",
  //   "zip": "12334",
  //   "message": ""
  // } -->
