/* Grid layout for customers and users */
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding:20px;
  margin: 10px 10px 10px 10px;
  background-color: #f5f5f5;
}

/* Styles for mat-card elements */
mat-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

mat-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
}

/* Styles for form inputs inside mat-card */
mat-form-field {
  width: 100%;
}

/* Styles for action buttons */
mat-card-actions {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

/* Styles for search results container */
.search-results {
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  background-color: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  max-height: 300px;
  overflow-y: auto;
  z-index: 1;
}

/* Styles for search result items */
.search-result {
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
  cursor: pointer;
}

.search-result:last-child {
  border-bottom: none;
}
.search-bar{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;

  margin: 10px 10px 10px 10px;
}
#search{
  width:25vw;
  border-radius: 5px;
  border: 1px solid #e1c7c7;
  padding: 5px;

}
#search:focus{

  outline: none;
  border: 1px solid #e1c7c7;
  background-color: rgb(255, 255, 255);
  height: 50px;




}
