/* footer.component.scss */
.mat-toolbar {
  display:flex;
  justify-content: space-between;
  align-items: center;

  bottom: 0;
  width: 100%;
}
.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px; /* Adjust the height as needed */
  color: white; /* Text color */
}
