<p>header works!</p>

<mat-toolbar color="primary">
  <span>My Art Gallery</span>

  <!-- Home Button -->
  <button mat-icon-button routerLink="../../user/home" routerLinkActive="active">
    <mat-icon>home</mat-icon>
  </button>

  <!-- Profile Button -->
  <button mat-icon-button routerLink="../../user/profile" routerLinkActive="active">
    <mat-icon>person</mat-icon>
  </button>

  <!-- Products Button -->
  <button mat-icon-button routerLink="../../user/products" routerLinkActive="active">
    <mat-icon>store</mat-icon>
  </button>

  <!-- Cart Button -->
  <button mat-icon-button routerLink="../../user/products" routerLinkActive="active">
    <mat-icon>shopping_cart</mat-icon>
  </button>

  <!-- Logout Button -->
  <button mat-icon-button routerLink="../../auth/logout" >
    <mat-icon>exit_to_app</mat-icon>
  </button>
</mat-toolbar>


