<p>checkout works!</p>
<app-header></app-header>
<mat-card class="checkout-card">
  <mat-card-content>
    <h2>Checkout</h2>

    <!-- User Registration Card -->
    <mat-card class="user-card">
      <mat-card-content>
        <h3>Have an account?</h3>
        <p class="mb-0">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="accent" routerLink="/auth/register">
          Register
        </button>
        <button mat-raised-button color="primary" routerLink="/auth/login">
          Sign in
        </button>
      </mat-card-actions>
    </mat-card>

    <!-- Checkout Form Card -->
    <mat-card class="form-card">
      <mat-card-content>
        <h3 class="card-title">Guest checkout</h3>
        <!-- Add Angular Material form controls here -->
       <!--   <input matInput placeholder="Username" type="text" formControlName="username">
        <input matInput placeholder="Username" type="text" formControlName="username">
       -->
        <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()" >
          <div class="row">
            <div class="col-md-6">
              <mat-form-field class="full-width">
                <mat-label>First name</mat-label>
                <input matInput placeholder="Type here" formControlName="firstName"/>
                <mat-error *ngIf="checkoutForm.get('firstName')?.hasError('required')" > fist name is required</mat-error>

              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="full-width">
                <mat-label>Last name</mat-label>
                <input matInput placeholder="Type here" formControlName="lastName"/>
                <mat-error *ngIf="checkoutForm.get('lastName')?.hasError('required')" > last name is required</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="full-width">
                <mat-label>Phone</mat-label>
                <input matInput placeholder="Type here" formControlName="phone" />
                <mat-error *ngIf="checkoutForm.get('phone')?.hasError('required')" > phone is required</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="full-width">
                <mat-label>Email</mat-label>
                <input matInput placeholder="example@gmail.com" formControlName="email" />
                <mat-error *ngIf="checkoutForm.get('email')?.hasError('pattern')" > not correct email format </mat-error>
                <mat-error *ngIf="checkoutForm.get('email')?.hasError('required')" > email is required</mat-error>
      <mat-error *ngIf="checkoutForm.get('email')?.hasError('email')">Invalid email format.</mat-error>

              </mat-form-field>
            </div>
          </div>

          <mat-checkbox class="mb-3">Keep me up to date on news</mat-checkbox>

          <mat-divider></mat-divider>
          <!-- Order Items Card -->
          <mat-card class="order-items-card">
            <mat-card-content>
              <h3>Order Items</h3>
              <div
                class="order-item"
                *ngFor="let item of orderItems; let i = index"
              >
              <mat-divider></mat-divider>
                <mat-card class="order-item-card">
                  <mat-card-content>
                    <div
                      class="d-flex justify-content-between align-items-center"
                    >
                      <div>
                        <h4>{{ item.productName }}</h4>
                        <p>Price: ${{ item.price }}</p>
                      </div>
                      <div class="quantity">
                        <button mat-button mat-raised-button color="primary" (click)="incrementQuantity(item)">
                          <mat-icon>add</mat-icon>
                        </button>

                        <mat-label style="color:crimson; font-size: large;margin:0px 5px 5px 0px;padding:0px 5px 5px 0px;">Quantity: </mat-label>
                        <!-- <mat-form-field>

                           <input
                            matInput
                            [(ngModel)]="item.quantity"
                            (ngModelChange)="updateSubtotal(item)"
                          />
                        </mat-form-field> -->
                        <span style="color:crimson; font-size: large;margin:0px 5px 5px 0px;">{{ item.quantity }}</span>
                        <button mat-raised-button color="accent" (click)="decrementQuantity(item)">
                          <mat-icon>remove</mat-icon>
                        </button>
                      </div>
                      <div>
                        <p>Subtotal: ${{ item.subtotal }}</p>
                      </div>
                    </div>
                  </mat-card-content>
                  <mat-card-actions>
                    <button
                      mat-button
                      color="warn"
                      (click)="deleteOrderItem(i)"
                    >
                      Delete
                    </button>
                  </mat-card-actions>
                </mat-card>
                <mat-divider></mat-divider>
              </div>
            </mat-card-content>
          </mat-card>

          <!-- Total Section -->
          <mat-card class="total-card">
            <mat-card-content>
              <div class="d-flex justify-content-between">
                <p>Total price:</p>
                <p class="fw-bold" mat-color-primary style="color:crimson; font-size: large;margin:0px 5px 5px 0px;">${{ calculateTotal() }}</p>
              </div>
            </mat-card-content>
          </mat-card>

          <mat-divider></mat-divider>
          <mat-divider></mat-divider>

          <h3 class="card-title mt-4">Shipping info</h3>
          <!-- Add shipping info form fields here -->

          <div class="row">
            <div class="col-md-6">
              <mat-form-field class="full-width">
                <mat-label>Address</mat-label>
                <input matInput placeholder="Type here" formControlName="address" />
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="full-width">
                <mat-label>City</mat-label>
                <mat-select>
                  <mat-option value="1">New York</mat-option>
                  <mat-option value="2">Moscow</mat-option>
                  <mat-option value="3">Samarqand</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
         
            <div class="col-md-6">
              <mat-form-field class="full-width">
                <mat-label>Zip</mat-label>
                <input matInput  formControlName="zip" />
              </mat-form-field>
            </div>
          </div>

          <mat-checkbox class="mb-3">Save this address</mat-checkbox>

          <mat-form-field class="full-width">
            <mat-label>Message to seller</mat-label>
            <textarea matInput rows="2" formControlName="message"></textarea>
          </mat-form-field>

          <div class="float-end">
            <button mat-stroked-button color="warn">Cancel</button>
            <button mat-raised-button color="primary">Continue</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </mat-card-content>
</mat-card>

<app-footer></app-footer>
