<app-admin-header></app-admin-header>
<!-- <app-admin-sidenav></app-admin-sidenav> -->
<div>
  <h1>Order Management</h1>
  <!-- Display all orders here -->
  <div class="order-list">
    <div *ngFor="let item of orders" class="order-card">
      <mat-card class="order-details">
        <!-- {{ order | json }} -->
        <!-- Debugging message -->

        <mat-divider></mat-divider>
        <mat-card-title>Order Number: {{ item.order_number }}</mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-subtitle>Customer Name: {{ item.customer_name }}</mat-card-subtitle>
        <mat-divider></mat-divider>
        <mat-card-subtitle>Customer Email: {{ item.customer_email }}</mat-card-subtitle>
        <mat-divider></mat-divider>
        <mat-card-subtitle>Customer Phone: {{ item.customer_phone }}</mat-card-subtitle>
        <mat-divider></mat-divider>
        <mat-card-subtitle>Customer Address: {{ item.customer_address }}</mat-card-subtitle>
        <mat-divider></mat-divider>
        <mat-card-subtitle>Total: {{ item.total }}</mat-card-subtitle>
        <mat-divider></mat-divider>
        <mat-card-subtitle style="color:brown">item Status: {{ item.order_status }}</mat-card-subtitle>
      </mat-card>
      <div class="order-actions">
        <button (click)="editOrder(item.id)">Edit</button>
      </div>
      <!-- Add form for editing order data -->
      <!-- <div *ngIf="editing">
        <form (submit)="confirmEdit(item)">
          <label>Customer Name:</label>
          <input
            type="text"
            [(ngModel)]="item.customer_name"
            name="customerName"
            required
          />
          <label>Total:</label>
          <input
            type="number"
            [(ngModel)]="item.total"
            name="total"
            required
          />
           Add other input fields as needed for editing
          <button type="submit">Confirm</button>
          <button (click)="cancelEdit(item)">Cancel</button>
        </form>
      </div> -->
    </div>
  </div>
</div>

<app-admin-footer></app-admin-footer>
