/* register.component.css */

// .container {
//   display: flex;
//   flex-direction: column;
//   align-items: center; /* Center horizontally */
//   justify-content: center; /* Center vertically */
//   height: 100vh; /* Make the container fill the viewport height */
//   // background-image: url('your-pattern-image.jpg'); /* Add your pattern background */
//   background-size: cover; /* Adjust background image size as needed */
// }
/* your-component.css */

.container {
  overflow: hidden;
  flex: 1;
  display: flex;
  max-width: 100vw;

  // position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // background-image:url(https://graphicdesignjunction.com/wp-content/uploads/2015/04/free_pattern1.jpg);
  // background-image:url('../../../assets/ink-7294678_1280.jpg');
  background-repeat: no-repeat;
  // background-image:;
  image-resolution: 1000dpi;
  background-size: cover;
  // height: 25vh;
  // margin-top: 140px;
  width:100vw;


  // background-color: brown;
  // border: 10px solid black;

  // width: fit-content;
  // height:max-content;
  width: 100vw;
  margin-right: 0px ;
  margin-left:0px;
  height:100vh;
  background-color: transparent;
  image-rendering: pixelated;
  border-radius: 10px;
  box-shadow: 0 0 3px 3px rgba(0,0,0,0.2);
  background-color: rgb(255, 255, 255)

}

form{
  // background-image:url('../../../assets/ink-7294678_1280.jpg');
  border-radius: 25px;
  display: grid;
  grid-template-rows: fr fr fr fr;
  width: 30vw;
  padding: 15px;
  // background-color: rgb(45, 42, 38);
}
.elements{
  background-color: aqua;
  border-radius: 20px;

}
h2{
// background-color: ;
// border: 5px  black;
// shape-margin: 15px;

background-color: aqua;
text-align: center;
font-size: 25px;
font-weight: 1500;

// border-radius:50%;
color:rgb(63,81,181);
margin:10px 10px 10px 10px ;
border-radius: 10px;
  box-shadow: 0 0 3px 3px rgba(206, 200, 28, 0.2);
  padding:5px 5px 5px 5px;
}

.logInForm{

  border-radius: 25px;

  object-fit: cover;
  background-color: aqua;
  display: grid;
  grid-template-rows: 1fr 1fr ;
  width: 30vw;
  padding:15px;
  margin:10px;
  border-radius: 10px;
  box-shadow: 0 0 3px 3px rgba(0,0,0,0.2);
}
// mat-card{

//   border-radius: 50%;
//   background-color: black;
//   background-image:url('../../../assets/ink-7294678_1280.jpg');
//   background-size: cover;


// }
.regCard{
  // background-color: black;
  border-radius: 36px;
  background-color: white;
  margin-bottom: 10px;
  border-radius: 25px;
  box-shadow: 0 0 3px 3px rgba(210, 158, 158, 0.2);

}
.regBtn{
  border-radius: 25px;
}
.error-card{
  width:30vw;
  border-radius: 10px;
  color:black;
  border-radius: 10px;
  box-shadow: 0 0 3px 3px rgba(205, 21, 21, 0.2);
}



