<!-- <p>admin-login works!</p> -->
<app-header></app-header>
<div class="container">
  <mat-card class="elevation-z24 logInCard">
    <h2 id="title">Admin Login</h2>
    <form class="logInForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <input matInput placeholder="Email" type="email" />
        <mat-error *ngIf="loginForm?.get('email')?.hasError('required')">email is required</mat-error>
      <mat-error *ngIf="loginForm.get('email')?.hasError('email')">Invalid email format.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Password" type="password" />
        <mat-error *ngIf="loginForm?.get('password')?.hasError('required')">password is required</mat-error>
        <mat-error *ngIf="loginForm.get('password')?.hasError('pattern')">
          Password must contain at least 8 characters, including letters and numbers.
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit" (click)="login()" routerLink="../../user/home">
        Login
      </button>
    </form>
   <div class="register"> <a id="resetPsd" href="">forget password?</a><a id="resetPsd" routerLink="../register">register ?</a>
  </div>
</mat-card>
<mat-card *ngIf="hasErrors()"class="error-card">
  <div class="error-messages">
    <mat-error *ngIf="loginForm.get('email')?.hasError('required')">*Email is required.</mat-error>
    <mat-error *ngIf="loginForm.get('email')?.hasError('email')">*Invalid email format.</mat-error>
    <mat-error *ngIf="loginForm.get('password')?.hasError('required')">*Password is required.</mat-error>
    <mat-error *ngIf="loginForm.get('password')?.hasError('pattern')">
      *Password must contain at least 8 characters, including letters and numbers.
    </mat-error>
  </div>


</mat-card>
</div>
